<!DOCTYPE html>
<html lang="en-US">
<head>  
  <title>A MadLibs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container bg-primary">
      <h1>Kids Mad Libs about Tacos!</h1>
    <div>
      <form action="/anotherstory" method="post">
        <div class="form-group">
          <label for="Ajective">Adjective:</label>
          <input id="Ajective" name="Ajective" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="food1">Foods(plural):</label>
          <input id="food1" name="food1" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Verb">Verb:</label>
          <input id="Verb" name="Verb" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Saying">Saying:</label>
          <input id="Saying" name="Saying" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Noun">Noun:</label>
          <input id="Nouns" name="Nouns" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="food2">Foods(plural):</label>
          <input id="food2" name="food2" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Color">Color:</label>
          <input id="Color" name="Color" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Something">Something you would ride in:</label>
          <input id="Something" name="Something" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Animal">Animal:</label>
          <input id="Animals" name="Animals" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="Person">Person:</label>
          <input id="Person" name="Person" class="form-control" type="text">
        </div>


        <button type="submit" class="btn">Show me the story!</button>
      </form>
  </div>
</body>
</html>