<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>A MadLibs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-warning">
  <div  class="container p-5 my-5 border bg-dark">
    <h1 class="text-light">MadLibs</h1>
    <p  class="text-light">Click Any Mad Libs Button You Want.</p>

    @* <button type="button" class="btn btn-primary btn-lg">Fun</button>
    <button type="button" class="btn btn-secondary btn-lg">About Tacos</button> *@

    <div class="row">
      <button type="button" class="btn btn-warning btn-lg"><a href="/form" class="text-light">Fun MadLibs</a></button>     

      <button type="button" class="btn btn-warning btn-lg"><a href="/anotherform" class="text-light">About Tacos</a></button>

    </div>
  </div>
</body>

</html>